<h1><%= @user.fullname %> Profile</h1>
<div>
  <table class="col-9 mt-5">
    <tbody>
      <tr>
        <td><strong>Email: <%= @user.email %></strong></td>
  
        <td>
          <% if !current_user.already_following?(@user.id) %>
            <%= button_to 'Follow', friendships_path(user: @user), class: "btn btn-sm btn-success" %>
          <% else %>
            <%= link_to 'Unfollow', friendship_path(@user), class: "btn btn-sm btn-danger" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <% if !@tracked_stocks.empty? %>
    <%= render 'users/portfolio_table' %>
  <% else %>
    <h3 class="mt-5">This user is not tracking any stocks!</h2>
  <% end %>
</div>